@font-face {
    font-family: 'start'; 
    src: url('../start.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: start;
    margin-top: 20px; 
    color: white; 
}


body {
    background-color: #5611f6; 
    margin: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

/* VIDEO */

.videoContainer {
    width: 540px; 
    height: auto; 
    display: block; /* Prevents default inline spacing */
    border-radius: 20px; 
    overflow: hidden; 
    margin-bottom: 20px; 
    filter: drop-shadow(0 4px 10px black); 
}

/* NEXT BTN */

.next {
    display: flex; 
    justify-content: flex-end; 
    filter: drop-shadow(0 2px 8px white); 
    position: absolute; 
    right: 10px; 
    top: 20px; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    align-items: center;
}

/* PREV BTN */

.prev {
    display: flex; 
    justify-content: flex-start; 
    filter: drop-shadow(0 2px 8px white); 
    position: absolute; 
    left: 10px; 
    top: 20px; 
    align-items: center;
}

/* BTN IMG */

.prev img, .next img {
    width: 80px; 
    height: auto; 
    cursor: pointer; 
}
