body {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    
    background-image: url(../intermission/imginter/aura.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat; 
    height: 100vh; 
}

.image-container {
    position: relative;
    display: inline-block; /* Align images inline */
    cursor: pointer; /* Change cursor to pointer */
}

.default-image {
    width: 500px; /* Set the default image width */
    height: auto; /* Maintain aspect ratio */
    position: relative; /* Needed for z-index */
    z-index: 1; /* Stack order */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.hover-image {
    width: 500px; /* Match the default image width */
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2; /* Ensure hover image is on top */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.image-container:hover .default-image {
    opacity: 0; 
}

.image-container:hover .hover-image {
    opacity: 1; /* Show hover image on hover */
}